* {
  margin: 0;
  padding: 0;
}
/* Page 1 */
.Gymnastyc {
  border: 0 solid;
  height: 510px;
  width: 600px;
  padding: 0px;
  margin-left: 20px;
}
/* Page 2 */
.Aboutus {
  border: 0 solid;
  height: 650px;
  width: 600px;
  margin-top: 50px;
  padding: 0;
}
/* Header */
h1 {
  font-size: 140%;
  display: inline;
}
.Header {
  background-color: rgb(70, 139, 172);
  padding: 20px 20px 15px 10px;
  margin-left: 10px;
  margin: 0;
  word-spacing: 12px;
  color: white;
}

/* Content */
h2 {
  color: rgb(70, 139, 172);
  margin-bottom: 20px;
  margin-top: 20px;
}
p strong {
  color: rgb(70, 139, 172);
}

.Content {
  margin: 0px;
  margin-left: 10px;
}

.Content .Membership {
  margin-bottom: 20px;
  margin-top: 20px;
}

.Content .Get {
  border: solid 2px;
  display: inline-block;
  padding: 2px;
  margin-top: 0;
  color: orange;
  border-radius: 20%;
  font-family: serif;
}

.Content h2 {
  padding-top: 0;
  color: rgb(70, 139, 172);
}

.Content .Unord {
  word-spacing: 50px;
}
.Content .Insta {
  display: inline-block;
  border: solid 1.5px;
  background-color: rgb(114, 24, 109);
  padding: 10px;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 15%;
}

.Content .Face {
  display: inline-block;
  border: solid 1.5px;
  background-color: rgb(24, 86, 219);
  padding: 10px;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 15%;
}

.Content .You {
  display: inline-block;
  border: solid 1.5px;
  background-color: red;
  padding: 10px;
  margin: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 15%;
}

/* Footer */
.Footer {
  background-color: rgb(70, 139, 172);
  padding-top: 10px;
  padding-top: 15px;
  padding-left: 10px;
  margin-top: 15px;
  color: white;
}

.Footer .Pop {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  font-size: 90%;
}

.Footer P {
  font-size: 17px;
  margin: 0;
  font-size: 85%;
}

.Footer ul {
  font-size: 17px;
  margin: 0;
  font-size: 65%;
  margin-left: 20px;
}

/* About Us */
.Aboutus h1 {
  font-size: 140%;
  display: block;
  background-color: rgb(70, 139, 172);
  padding: 20px 20px 15px 10px;

  color: white;
}

.Aboutus p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.Aboutus li {
  border: 2px Solid;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  background-color: rgb(70, 139, 172);
  color: white;
  border-radius: 15%;
}

img {
  padding: 20px;
}
