body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 140%;
  display: inline;
}
.Header {
  background-color: rgb(70, 139, 172);
  padding: 20px 20px 15px 10px;
  margin: 0
  color: white;
  word-spacing: 12px;
}

h2 {
  color: rgb(70, 139, 172);
}
p strong {
  color: rgb(70, 139, 172);
}

.Content {
  margin: 0px;
}

.Content .Get {
border: solid 2px;
display: inline-block;
padding: 2px;
margin-top: 0;
color: orange;
border-radius: 20%;
font-family: serif;
}

.Content h2 {
  padding-top: 15px;
  color: rgb(70, 139, 172);
}

.Content h3 {
  display: inline-block;
  width: 80px;
}

.Content .Insta {
  border: solid 2px;
  border-radius: 20%;
  padding: 5px;
  background-color: rgb(133, 90, 133);
  color: white;
}
.Content .Face {
  border: solid 2px;
  border-radius: 20%;
  padding: 5px;
  background-color: blue;
  color: white;
}
.Content .You {
  border: solid 2px;
  border-radius: 20%;
  padding: 5px;
  background-color: red;
  color: white;
}

.Footer {
  background-color: rgb(70, 139, 172);
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0
  color: white;
}

.Footer .Pop {
  padding-bottom: 15px;
}
